.App {
  transition: background-color 0.5s, color 0.5s;
  min-height: 100vh;
}

.dark-mode {
  background-color: #121212;
  color: rgb(255, 255, 255);
}

.dark-mode .container {
  background-color: #121212;
}

.dark-mode .card {
  background-color: #333;
  color: white;
}

.dark-mode .card .btn {
  color: white;
}

.dark-mode .form-control,
.dark-mode .form-control-color {
  background-color: #333;
  color: white;
}

.dark-mode .form-control:focus,
.dark-mode .form-control-color:focus {
  background-color: #444;
  color: white;
  border-color: #555;
}
